altgraph==0.17.4
asgiref==3.8.1
colorama==0.4.6
Django==5.2.1
duckdb==1.3.2
et_xmlfile==2.0.0
geographiclib==2.0
geojson==3.2.0
geopy==2.4.1
ijson==3.4.0
joblib==1.5.1
numpy==2.2.5
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pefile==2023.2.7
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
RapidFuzz==3.13.0
rtree==1.4.0
scikit-learn==1.7.1
scipy==1.16.1
setuptools==80.8.0
shapely==2.1.1
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.2
xlsxwriter==3.2.5
